name: Build

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review
        paths-ignore:
            - "**.md"
    push:
        tags:
            - 'v*'
            - 'release-*'
    workflow_dispatch:
        inputs:
            build_android:
                description: "Build Android"
                required: false
                default: true
                type: boolean

            build_ios:
                description: "Build iOS"
                required: false
                default: true
                type: boolean

            build_mac:
                description: "Build Mac"
                required: false
                default: true
                type: boolean

            build_win_x64:
                description: "Build Win-x64"
                required: false
                default: true
                type: boolean

            build_linux_x64:
                description: "Build Linux-x64"
                required: false
                default: true
                type: boolean

            tag:
                description: "tag"
                required: false
                default: ""
                type: string

jobs:
    android:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_android == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
        name: Release Android
        runs-on: ubuntu-latest
        permissions: write-all

        steps:
            - name: 代码迁出
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: 构建Java环境
              uses: actions/setup-java@v5
              with:
                  distribution: "zulu"
                  java-version: "17"
                  cache: "gradle"
                  cache-dependency-path: |
                      android/*.gradle*
                      android/**/gradle-wrapper.properties

            - name: 安装Flutter
              uses: subosito/flutter-action@v2
              id: flutter-action
              with:
                  channel: stable
                  flutter-version-file: pubspec.yaml
                  cache: true

            - name: apply bottom sheet patch
              working-directory: ${{ env.FLUTTER_ROOT }}
              run: git apply $GITHUB_WORKSPACE/lib/scripts/bottom_sheet_patch.diff
              continue-on-error: true

            - name: Write key
              run: |
                  if [ ! -z "${{ secrets.KEYSTORE_FILE }}" ]; then
                    echo "${{ secrets.KEYSTORE_FILE }}" | base64 --decode > android/app/key.jks
                    echo "KEYSTORE_FILE=key.jks" >> $GITHUB_ENV
                    echo "KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}" >> $GITHUB_ENV
                    echo "KEY_ALIAS=${{ secrets.KEY_ALIAS }}" >> $GITHUB_ENV
                    echo "KEY_PASSWORD=${{ secrets.KEY_PASSWORD }}" >> $GITHUB_ENV
                  else
                    echo "KEYSTORE_FILE=" >> $GITHUB_ENV
                    echo "KEYSTORE_PASSWORD=" >> $GITHUB_ENV
                    echo "KEY_ALIAS=" >> $GITHUB_ENV
                    echo "KEY_PASSWORD=" >> $GITHUB_ENV
                  fi

            - name: Set and Extract version
              shell: pwsh
              run: lib/scripts/build.ps1 android

            - name: flutter build apk
              env:
                KEYSTORE_FILE: ${{ env.KEYSTORE_FILE }}
                KEYSTORE_PASSWORD: ${{ env.KEYSTORE_PASSWORD }}
                KEY_ALIAS: ${{ env.KEY_ALIAS }}
                KEY_PASSWORD: ${{ env.KEY_PASSWORD }}
              run: flutter build apk --release --split-per-abi --dart-define-from-file=pili_release.json --pub

            - name: rename
              run: |
                  for file in build/app/outputs/flutter-apk/app-*-release.apk; do
                    abi=$(echo "$file" | sed -E 's|.*app-(.*)-release\.apk|\1|')
                    mv "$file" "PiliPlusX_android_${{ env.version }}_${abi}.apk"
                  done
              shell: bash

            - name: Release
              if: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.tag != '') || (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) }}
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.tag }}
                  name: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.tag }}
                  prerelease: true
                  files: |
                      PiliPlusX_android_*.apk

            - name: 上传
              uses: actions/upload-artifact@v4
              with:
                  name: Android_arm64-v8a
                  path: |
                      PiliPlusX_android_*_arm64-v8a.apk

            - name: 上传
              uses: actions/upload-artifact@v4
              with:
                  name: Android_armeabi-v7a
                  path: |
                      PiliPlusX_android_*_armeabi-v7a.apk

            - name: 上传
              uses: actions/upload-artifact@v4
              with:
                  name: Android_x86_64
                  path: |
                      PiliPlusX_android_*_x86_64.apk

    ios:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_ios == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
        uses: ./.github/workflows/ios.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'push' && github.ref_name || (github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '') }}

    mac:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_mac == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
        uses: ./.github/workflows/mac.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'push' && github.ref_name || (github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '') }}

    win_x64:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_win_x64 == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
        uses: ./.github/workflows/win_x64.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'push' && github.ref_name || (github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '') }}

    linux_x64:
        if: ${{ github.event_name == 'pull_request' || github.event.inputs.build_linux_x64 == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
        uses: ./.github/workflows/linux_x64.yml
        permissions: write-all
        with:
            tag: ${{ github.event_name == 'push' && github.ref_name || (github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '') }}
